$primary-color: #f119a9;
$primary-light: #e783c5;
$background-color: #161212;

.main-page {
    background-color: $background-color;
    margin-top: 80px;

}

//responsive 
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

mat-card {
    margin: 10px;
    background: rgb(29, 26, 29);
    color: white;
    border-radius: 20px;
    max-width: 600px;
    box-sizing: border-box;

    img {
        border-radius: 10px;
        width: 100%;
        margin: 0 auto;
        display: block;
        object-fit: fill;
    }

    mat-card-header {
        text-align: center;

        mat-card-title {
            font-size: 1.0em;
            color: #bbbbbb;

        }

    }

    mat-card-actions {
        display: flex;
        justify-content: space-around;

        button {
            color: $primary-light;

            &:hover {
                background: rgba(233, 30, 99, 0.1);
            }
        }

        mat-icon {
            color: $primary-color;

            &:hover {
                cursor: pointer;
                color: $primary-light;
            }
        }
    }
}