$primary-color: #f119a9;
$primary-light: #e783c5;
$secondary-color: rgb(65, 9, 161);
$background-color: #161212;

mat-card {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 400px;
    padding: 2rem;

    &-header {
        text-align: center;

        mat-card-title {
            font-size: 1.5rem;
            font-weight: bold;
            color: $secondary-color;
        }
    }

    &-actions {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        button {
            background-color: $primary-color;
            color: #fff;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            font-weight: bold;

            &:hover {
                background-color: $primary-light;
            }
        }
    }
}